<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.designus.www.dao.IadminDao">  
     
      
     <select id="getrepInfo" parameterType="report" resultType="report">
		SELECT * FROM RP_LIST ORDER BY RP_NUM ASC
	</select>
     <select id="gettransInfo" parameterType="major" resultType="major">
		SELECT * FROM MJ
	</select>
     <select id="getWriteCheck" parameterType="major" resultType="major">
		SELECT * FROM RP_LIST WHERE RP_NUM =${rp_num}
	</select>
      
</mapper>