<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.designus.www.dao.IadminDao">  
     
      
     <select id="getrepInfo" parameterType="report" resultType="report">
		SELECT * FROM RP_LIST ORDER BY RP_NUM ASC
	</select>
	
	
     <select id="gettransInfo" parameterType="membersearch" resultType="membersearch">
		SELECT * FROM MBS WHERE MB_GRADE='X'OR MB_GRADE='S'
	</select>
	
	
     <select id="gettransforInfo" parameterType="membersearch" resultType="membersearch">
		SELECT * FROM MBS WHERE MB_GRADE='X'OR MB_GRADE='S'
	</select>
	
	
     <select id="getWriteCheck" parameterType="Integer" resultType="report">
		SELECT * FROM RP_LIST WHERE RP_NUM =${rp_num}
	</select>
	
	
     <delete id="getPermit" parameterType="Integer" >
		DELETE FROM RP WHERE RP_NUM =${rp_num}
	</delete>
	
	
     <delete id="getPerfmit" parameterType="Integer">
		DELETE FROM RPI WHERE RPI_NUM =${rp_num}
	</delete>
	
	
	<update id="getwarning" parameterType="member">
		UPDATE MB SET MB_CCNT=MB_CCNT+1 WHERE MB_ID = #{mb_id}
	</update>
	
	
	<select id="permitWriDetail" parameterType="String" resultType="membersearch">
		SELECT * FROM MBS WHERE MB_ID = #{mb_id}
	</select>
	
	
	<update id="getreAuthorfuse" parameterType="membersearch">
		UPDATE MB SET MB_GRADE='N' WHERE MB_ID= #{mb_id}
	</update>
	
	
	<update id="getreAuthoragree" parameterType="membersearch">
		UPDATE MB SET MB_GRADE='W' WHERE MB_ID= #{mb_id}
	</update>
	
	
	<delete id="getreAuthordelete" parameterType="membersearch">
		DELETE FROM MJ WHERE MJ_MBID=#{mb_id}
	</delete>
	
	
	<select id="getquestionInfo" parameterType="question" resultType="question">
		SELECT * FROM AQ_QR WHERE ABC IS NULL
	</select>
	
	
	<select id="getquestionCheck" parameterType="question" resultType="question">
		SELECT * FROM AQ_QR WHERE AQ_NUM=${aq_num}
	</select>
	
	
	<insert id="getquestionReply" parameterType="map" >

		INSERT INTO QR VALUES(QR_SEQ.nextval,${aq_num},#{qr_contents},DEFAULT)
	</insert>
	
	
	<select id="getmemberList" parameterType="member" resultType="member">
		SELECT * FROM MB WHERE MB_GRADE IN ('N', 'S', 'X')
	</select>
	
	
	<select id="getmemberAuthorList" parameterType="member" resultType="member">
		SELECT * FROM MB WHERE MB_GRADE='W'
	</select>
	
	
	<select id="getmemberBlackList" resultType="member">
		SELECT * FROM MB WHERE MB_CCNT BETWEEN 1 AND 10
	</select>
	
	
	<select id="getMemberCheck" parameterType="String" resultType="membersearch">
		SELECT * FROM MBS WHERE MB_ID =#{mb_id}
	</select>
	
	
	<update id="getmembercouet" parameterType="member">
		UPDATE MB SET MB_CCNT=MB_CCNT+1 WHERE MB_ID = #{mb_id}
	</update>
	
	
	<update id="getmemberminuscouet" parameterType="member">
		UPDATE MB SET MB_CCNT=MB_CCNT-1 WHERE MB_ID = #{mb_id}
	</update>
	
	
	<select id="getcategoryList"  resultType="category">
		SELECT * FROM CG ORDER BY CG_CODE ASC
	</select>
	
	<insert id="getcotegoryadd"  >
		INSERT INTO CG VALUES(${cg_code},#{cg_name})
	</insert>
	
	<delete id="getcotegorydel">
		DELETE FROM CG WHERE CG_NAME=#{cg_name}
	</delete>
	
	<update id="getcotegoryChange" parameterType="String" >
		UPDATE CG SET CG_NAME=#{cg_cname} WHERE CG_NAME=#{cg_name}
	</update>
	<select id="userSel"  resultType="String">
		SELECT AQ_MBID FROM AQ WHERE AQ_NUM = ${nf_num}
	</select>
	<select id="getRpUserRSel"  resultType="String">
		SELECT RP_MBID_D FROM RP WHERE RP_NUM = ${nf_num}
	</select>
	<select id="getRpUserTSel"  resultType="String">
		SELECT RP_TITLE FROM RP WHERE RP_NUM = ${nf_num}
	</select>
	<select id="getRpUserSSel"  resultType="String">
		SELECT RP_MBID_A FROM RP WHERE RP_NUM = ${nf_num}
	</select>
	<select id="getRpUserCCNTSel"  resultType="Integer">
		SELECT MB_CCNT FROM MB WHERE MB_ID = #{nf_mbid_s}
	</select>
	
	<insert id="setNotifyAdmin" parameterType="notify">
		INSERT INTO NOTIFY VALUES(NF_SEQ.NEXTVAL,#{nf_mbid_r},DEFAULT,#{nf_notify},0,DEFAULT)
	</insert>
	<insert id="setNotifyDeclareNon" parameterType="notify">
		INSERT INTO NOTIFY VALUES(NF_SEQ.NEXTVAL,#{nf_mbid_r},DEFAULT,#{nf_notify},0,DEFAULT)
	</insert>
	<insert id="setNotifyDeclare" parameterType="notify">
		INSERT INTO NOTIFY VALUES(NF_SEQ.NEXTVAL,#{nf_mbid_s},DEFAULT,#{nf_notify},0,DEFAULT)
	</insert>
	<insert id="setNotifyDeclareReply" parameterType="notify">
		INSERT INTO NOTIFY VALUES(NF_SEQ.NEXTVAL,#{nf_mbid_r},DEFAULT,#{nf_notify},0,DEFAULT)
	</insert>
	
	
</mapper>