<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.designus.www.dao.IauctionDao">

	<insert id="getAuctionWriteInsert" parameterType="auction">
		INSERT INTO AU VALUES(AU_SEQ.NEXTVAL,#{au_mbid_w},#{au_title},#{au_cgcode},#{au_qty},#{au_minprice},#{au_inprice},#{au_contents},DEFAULT)
	</insert>

	<select id="getAuctionListSelect" parameterType="auction" resultType="auction">
		SELECT * FROM AU WHERE AU_CGCODE = ${au_cgcode}
	</select>



</mapper>