<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.designus.www.dao.IauctionDao">

	<insert id="getAuctionWriteInsert" parameterType="auction">
		INSERT INTO AU VALUES(AU_SEQ.NEXTVAL,#{au_mbid_w},#{au_title},#{au_cgcode},#{au_qty},#{au_minprice},#{au_inprice},#{au_contents},DEFAULT)
	</insert>

	<insert id="getAuctionBasketInsert" parameterType="basket">
		INSERT INTO AUCTION_BASKET VALUES(${ab_aunum},#{ab_mbid})
	</insert>
	
	<delete id="getAuctionBasketDelete" parameterType="basket">
		DELETE FROM AUCTION_BASKET WHERE AB_AUNUM = ${ab_aunum} AND AB_MBID = #{ab_mbid}
	</delete>
		
	<select id="getAuctionBasketSelect" parameterType="basket" resultType="Integer">
		SELECT NVL(max(ab_aunum),0)FROM AUCTION_BASKET WHERE AB_AUNUM = ${ab_aunum} AND AB_MBID = #{ab_mbid}
	</select>	

	<select id="getAuctionListSelect" parameterType="auction" resultType="auction">
	  <![CDATA[
		select * from(
    select rownum AS RN,au_num, au_mbid_w, au_title, au_cgcode, au_qty,
    au_minprice, au_inprice, au_contents, au_date, aut_price, ROW_NUMBER() 
    OVER(PARTITION BY AU_NUM ORDER BY AUT_PRICE DESC) AS AUNUM
     from AUAUT where AU_CGCODE= ${au_cgcode}
     ) where AUNUM=1
      ]]>
	</select>

	<select id="getAuctionReadSelect" parameterType="auction" resultType="auction">
		SELECT * FROM AU WHERE AU_NUM = ${au_num}
	</select>
	

	<select id="getAuctionTenderPrice" parameterType="auctiontender" resultType="Integer">
		SELECT AU_INPRICE FROM AU WHERE AU_NUM = ${aut_aunum}
	</select>

	<insert id="setAuctionTenderI" parameterType="auctiontender">
		INSERT INTO AUCTIONTENDER VALUES(${aut_aunum},#{aut_mbid},${aut_price},'I')
	</insert>

	<insert id="setAuctionTenderT" parameterType="auctiontender">
		INSERT INTO AUCTIONTENDER VALUES(${aut_aunum},#{aut_mbid},${aut_price},'T')
	</insert>
	
	<update id="setAuctionTenderDel" parameterType="auctiontender">
		UPDATE AU SET AU_QTY = AU_QTY-(${aut_price}/AU_INPRICE) WHERE AU_NUM = ${aut_aunum}
	</update>

	<select id="auctionTenderSel" parameterType="auctiontender" resultType="Integer">
		SELECT max(AUT_PRICE) FROM AUCTIONTENDER WHERE aut_num = ${aut_aunum}
	</select>

	<select id="getAuctionTenderQty" parameterType="auctiontender" resultType="Integer">
		SELECT AU_QTY-${aut_qty} FROM AU WHERE au_num = ${aut_aunum}
	</select>

	<select id="getAuctionInfoID" parameterType="auction" resultType="String">
		SELECT AU_MBID_W FROM AU WHERE au_num = ${au_num}
	</select>

	<select id="getAuctionTenderList" parameterType="auctiontender" resultType="auctiontender">
		  <![CDATA[
		SELECT *FROM(SELECT ROWNUM AS A, AUT_NUM, AUT_MBID, AUT_PRICE, AUT_KIND 
        FROM AUT  
        WHERE AUT_NUM = ${aut_aunum} AND AUT_KIND != 'I' AND AUT_KIND !='O'
        ORDER BY AUT_PRICE DESC
        )WHERE  ROWNUM <=3
 		]]>
	</select>

	<select id="getAuctionWriterListSel" parameterType="auction" resultType="auction">
		  <![CDATA[
		SELECT * FROM AU 
		WHERE ROWNUM <=3 AND AU_NUM != ${au_num}
		ORDER BY AU_NUM DESC
 		]]>
	</select>

	<insert id="setAuctionUT" parameterType="auctiontender">
		INSERT INTO AUCTION_PROGRESS VALUES()
        VALUES(AUP_SEQ.NEXTVAL,${aut_aunum},#{aut_mbid},DEFAULT,DEFAULT,DEFAULT,${aut_qty},${aut_price},DEFAULT,1)
	</insert>
 
 
</mapper>