<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.designus.www.dao.IboardDao">  
    <insert id="reviewBoardyhWrite" parameterType="board" keyProperty="bd_num" useGeneratedKeys="true">
	<selectKey keyProperty="bd_num" resultType="int" order="AFTER">
	  SELECT BD_SEQ.CURRVAL FROM DUAL 
	</selectKey>
        INSERT  INTO BOARD 
     VALUES(BD_SEQ.NEXTVAL,#{bd_kind},#{bd_mbid},#{bd_title},#{bd_contents},DEFAULT,DEFAULT,DEFAULT)
	</insert>  
	
       <insert id="reviewfileInsert" parameterType="HashMap">
		 INSERT INTO BOARDIMG VALUES(#{bnum},#{sysFileName})
	</insert>
	<update id="goods" parameterType="String">
		 update MJ SET MJ_LIKE = MJ_LIKE +1
		where MJ_MBID =#{idw}
	</update>
    
<!--     이용후기 알람 Start -->
    <select id="getRevBoardUserName" parameterType="notify"
		resultType="String">
		SELECT RA_MBID FROM RA WHERE RA_NUM = ${nf_num}
	</select>
    <select id="getRevItemTitle" parameterType="notify"
		resultType="String">
		SELECT RA_TITLE FROM RA WHERE RA_NUM = ${nf_num}
	</select>
    <select id="getAuBoardUserName" parameterType="notify"
		resultType="String">
		SELECT AU_MBID_W FROM AU WHERE AU_NUM = ${nf_num}
	</select>
    <select id="getAuItemTitle" parameterType="notify"
		resultType="String">
		SELECT AU_TITLE FROM AU WHERE AU_NUM = ${nf_num}
	</select>
    <insert id="setNotifyboardyh" parameterType="notify">
		INSERT INTO NOTIFY
		VALUES(NF_SEQ.NEXTVAL,#{nf_mbid_s},#{nf_mbid_r},#{nf_notify},0,DEFAULT)
	</insert>
<!--        이용후기 알람 End -->
       
       
</mapper>