<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.designus.www.dao.IcommonDao">


	<select id="getbestInfo" parameterType="auction" resultType="auction">
		SELECT * FROM AU_BEST ORDER BY AU_COUNT DESC
	</select>
	<select id="getnewInfo" parameterType="auction" resultType="auction">
		SELECT * FROM AU_BEST ORDER BY AU_DATE DESC
	</select>
	<select id="getimgInfo" parameterType="auction" resultType="auction">
		SELECT * FROM AU_BEST ORDER BY AU_DATE DESC
	</select>


</mapper>