<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.designus.www.dao.ImypageDao">

	<select id="privacyeditSelect" parameterType="String"
		resultType="member">
		SELECT * FROM MB WHERE MB_ID=#{id}
	</select>

	<update id="memberreviseupdate" parameterType="member">
		UPDATE MB SET
		MB_PW
		=#{mb_pw},MB_ADDRESS=#{mb_address},MB_PROFILE=#{mb_profile},MB_EMAIL=#{mb_email}
		WHERE MB_ID=#{mb_id}
	</update>
	<select id="withdrawalconfirmselect" parameterType="String"
		resultType="String">
		SELECT MB_PW FROM MB WHERE MB_ID=#{id}
	</select>
	<select id="withdrawalconfirmselect2" parameterType="String"
		resultType="member">
		SELECT * FROM MB WHERE MB_ID=#{id}
	</select>
	<insert id="withdrawalconfirmInsert" parameterType="member">
		INSERT INTO
		WITHDRAWAL
		VALUES(#{mb_id},#{mb_name},#{mb_birth},#{mb_email},DEFAULT)
	</insert>
	<delete id="withdrawalconfirmDelete" parameterType="member">
		DELETE FROM
		MB WHERE MB_ID=#{mb_id}
	</delete>
	<insert id="nortowriapplyInsert" parameterType="major">
		INSERT INTO MAJOR
		VALUES(#{mj_id},#{mj_cg_code},#{mj_portf},#{mj_contents},DEFAULT)
	</insert>
	<update id="nortowriapplyupdate" parameterType="member">
		UPDATE MB SET
		MB_GRADE='X' WHERE MB_ID=#{mj_id}
	</update>

	<select id="basketAuctionselect" parameterType="String"
		resultType="basket">
		SELECT * FROM IA
		WHERE B.AB_MBID=#{id}
	</select>

	<select id="basketRevAuctionselect" parameterType="String"
		resultType="basket">
		SELECT * FROM IV WHERE R.RAB_MBID=#{id}
	</select>

	<select id="basketSponsorselect" parameterType="String"
		resultType="basket">
		SELECT * FROM ISP
		WHERE B.SB_MBID=#{id}
	</select>
	<select id="basketFrmSelect" resultType="basket">
		
      <![CDATA[
   select * from(
    select rownum AS RN,AB_AUNUM,AB_MBID,AUI_IMG,AU_TITLE,
    ROW_NUMBER() OVER(PARTITION BY AB_AUNUM ORDER BY AB_AUNUM DESC) AS RankNo
     from IA
       where AB_MBID=#{id} and rownum<=#{num}*5
     ) where rn>=#{num}*5-4 AND RankNo=1
  ]]>

	</select>
	<select id="basketFrmRSelect" resultType="basket">
		
      <![CDATA[
      select * from(
   select rownum AS RN,RAB_RANUM,RAB_MBID,RA_IMAGE,RA_TITLE from IV
       where RAB_MBID=#{id} and rownum<=#{num}*5
     ) where rn>=#{num}*5-4
  ]]>
	</select>
	<select id="basketFrmSSelect" resultType="basket">
		
      <![CDATA[
    select * from(
    select rownum AS RN,SB_SSNUM,SB_MBID,SSI_IMG,SS_TITLE,
    ROW_NUMBER() OVER(PARTITION BY SB_SSNUM ORDER BY SB_SSNUM DESC) AS RankNo from ISP
       where SB_MBID=#{id} and rownum<=#{num}*5
     ) where rn>=#{num}*5-4 AND RankNo=1
  ]]>

	</select>
	<select id="getBoardCount" parameterType="String"
		resultType="Integer">
		select count(*) from IA where AB_MBID=#{id}
	</select>
	<select id="getrevCount" parameterType="String"
		resultType="Integer">
		select count(*) from IV where RAB_MBID=#{id}
	</select>
	<select id="getsponCount" parameterType="String"
		resultType="Integer">
		select count(*) from ISP where SB_MBID=#{id}
	</select>
	<select id="auctionMyOrderListSelect" 
		resultType="auctionprogress">
		<![CDATA[
		select * from(
    select rownum AS RN,AUP_PTNUM,AUP_RANUM,AUP_MBID_N,AUP_NAME,AUP_ADDRESS,AUP_PHONE,AUP_QTY,AUP_PRICE,AUP_TRACK,
    AUP_STEP,AUI_IMG,AU_MBID_W,AU_TITLE,AUT_DATE,AUT_KIND,ROW_NUMBER() OVER(PARTITION BY AUP_PTNUM ORDER BY AUP_PTNUM DESC) AS RankNo
     from AUPVIEWTEST
       where AUP_MBID_N=#{id} and rownum<=#{num}*4
     ) where rn>=#{num}*4-3 AND RankNo=1 
  ]]>
	</select>
	
	<select id="getSetpCount" resultType="Integer">
		select count(*) from
		AUPVIEWTEST where AUP_MBID_N=#{id}
	</select>
	
	<update id="aucapplyupdate" parameterType="auctionprogress">
		update AUP SET
		aup_name=#{aup_name},aup_address=#{aup_address},aup_phone=#{aup_phone},aup_step=2
		where aup_ptnum=#{aup_ptnum}
	</update>
	<update id="aucapplyMbNupdate" parameterType="auctionprogress">
		update MB SET
		mb_point=#{ponitN}-#{aup_price}
		where mb_id=#{aup_mbid_n}
	</update>
	<update id="reviewBoardyhWriteupDate" parameterType="auctionprogress">
		update AUP SET aup_step=4
		where aup_ptnum=${aup_ptnum}
	</update>
	<delete id="auccancelDelete" >
		  DELETE FROM AUP 
         WHERE AUP_PTNUM=${aup_ptnum}
	</delete>
	<select id="auctionMyAcceptListSelect" 
		resultType="auctionprogress">
		<![CDATA[
		select * from(
    select rownum AS RN,AUP_PTNUM,AUP_RANUM,AUP_MBID_N,AUP_NAME,AUP_ADDRESS,AUP_PHONE,AUP_QTY,AUP_PRICE,AUP_TRACK,
    AUP_STEP,AUI_IMG,AU_MBID_W,AU_TITLE,AUT_DATE,AUT_KIND,ROW_NUMBER() OVER(PARTITION BY AUP_PTNUM ORDER BY AUP_PTNUM DESC) AS RankNo
     from AUPVIEWTEST
       where AU_MBID_W=#{id} and rownum<=#{num}*4
     ) where rn>=#{num}*4-3 AND RankNo=1 
  ]]>
	</select>
	<select id="getSetpWCount" resultType="Integer">
		select count(*) from
		AUPVIEWTEST where AU_MBID_W=#{id}
	</select>
	<update id="delinumuploadupdate" parameterType="auctionprogress">
		update AUP SET
		aup_track=#{aup_track},aup_step=3
		where aup_ptnum=#{aup_ptnum}   
	</update>
	<select id="sendsSelect"  resultType="auctionprogress">
		<![CDATA[
		select * from(
    select rownum AS RN,AUP_PTNUM,AUP_RANUM,AUP_MBID_N,AUP_NAME,AUP_ADDRESS,AUP_PHONE,AUP_QTY,AUP_PRICE,AUP_TRACK,
    AUP_STEP,AUI_IMG,AU_MBID_W,AU_TITLE,AUT_KIND,ROW_NUMBER() OVER(PARTITION BY AUP_PTNUM ORDER BY AUP_PTNUM DESC) AS RankNo
     from AUPVIEW
       where aup_ptnum=${aup_ptnum}
     ) where  RankNo=1  
  ]]>
	</select>
	<select id="enterSelect" parameterType="auctionprogress" resultType="auctionprogress">
		<![CDATA[
		 select * from(
    select rownum AS RN,AUP_PTNUM,AUP_RANUM,AUP_MBID_N,AUP_NAME,AUP_ADDRESS,AUP_PHONE,AUP_QTY,AUP_PRICE,AUP_TRACK,
    AUP_STEP,AUI_IMG,AU_MBID_W,AU_TITLE,AUT_KIND,ROW_NUMBER() OVER(PARTITION BY AUP_PTNUM ORDER BY AUP_PTNUM DESC) AS RankNo
     from AUPVIEWtest
       where AUP_PTNUM=${aup_ptnum} 
     ) where RankNo=1
  ]]>
	</select>
	<delete id="autcancelDelete" >
		  DELETE FROM AUT 
     WHERE AUT_NUM=${aup_ranum} AND AUT_MBID=#{aup_mbid_n} AND AUT_DATE=to_char()#{aut_date})
	</delete>
	
	<select id="scheckSelect" parameterType="auctionprogress" resultType="auctionprogress">
		<![CDATA[
		 select * from(
    select rownum AS RN,AUP_PTNUM,AUP_RANUM,AUP_MBID_N,AUP_NAME,AUP_ADDRESS,AUP_PHONE,AUP_QTY,AUP_PRICE,AUP_TRACK,
    AUP_STEP,AUI_IMG,AU_MBID_W,AU_TITLE,AUT_KIND,ROW_NUMBER() OVER(PARTITION BY AUP_PTNUM ORDER BY AUP_PTNUM DESC) AS RankNo
     from AUPVIEWtest
       where AUP_PTNUM=${aup_ptnum} 
     ) where RankNo=1
  ]]>
	</select>
	<select id="reviewboardSelect" parameterType="auctionprogress" resultType="auctionprogress">
		<![CDATA[
		 select * from(
    select rownum AS RN,AUP_PTNUM,AUP_RANUM,AUP_MBID_N,AUP_NAME,AUP_ADDRESS,AUP_PHONE,AUP_QTY,AUP_PRICE,AUP_TRACK,
    AUP_STEP,AUI_IMG,AU_MBID_W,AU_TITLE,AUT_KIND,ROW_NUMBER() OVER(PARTITION BY AUP_PTNUM ORDER BY AUP_PTNUM DESC) AS RankNo
     from AUPVIEWtest
       where AUP_PTNUM=${aup_ptnum} 
     ) where RankNo=1
  ]]>
	</select>
	<update id="memberpointup" parameterType="auctionprogress">
		update MB SET
		mb_point=#{ponitW}+#{aup_price}
		where mb_id=#{au_mbid_w}
	</update>
	<select id="revAuctionMyOrderListSelect" parameterType="auctionprogress" resultType="auctionprogress">
		<![CDATA[
		select * from(
    select rownum AS RN,RAP_PTNUM,RAP_RANUM,RAP_MBID_N,RAP_NAME,RAP_ADDRESS,RAP_MBID_W,RAP_PHONE,RAP_PRICE,RAP_TRACK,RAP_DAYS
    RAP_STEP,RA_IMAGE,RA_TITLE,RA_OC,ROW_NUMBER() OVER(PARTITION BY RAP_PTNUM ORDER BY RAP_PTNUM DESC) AS RankNo
     from RAPVIEW
       where RAP_MBID_N=#{id} and rownum<=${num}*4
     ) where rn>=${num}*4-3 AND RankNo=1
  ]]>
	</select>
	<select id="getreSetpCount" resultType="Integer">
		select count(*) from
		RAPVIEW where RAP_MBID_N=#{id}
	</select>
	
</mapper>