<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.designus.www.dao.ImypageDao">

	<select id="privacyeditSelect" parameterType="String"
		resultType="member">
		SELECT * FROM MB WHERE MB_ID=#{id}
	</select>

	<update id="memberreviseupdate" parameterType="member">
		UPDATE MB SET
		MB_PW
		=#{mb_pw},MB_ADDRESS=#{mb_address},MB_PROFILE=#{mb_profile},MB_EMAIL=#{mb_email}
		WHERE MB_ID=#{mb_id}
	</update>
	<select id="withdrawalconfirmselect" parameterType="String"
		resultType="String">
		SELECT MB_PW FROM MB WHERE MB_ID=#{id}
	</select>
	<select id="withdrawalconfirmselect2" parameterType="String"
		resultType="member">
		SELECT * FROM MB WHERE MB_ID=#{id}
	</select>
	<insert id="withdrawalconfirmInsert" parameterType="member">
		INSERT INTO
		WITHDRAWAL
		VALUES(#{mb_id},#{mb_name},#{mb_birth},#{mb_email},DEFAULT)
	</insert>
	<delete id="withdrawalconfirmDelete" parameterType="member">
		DELETE FROM
		MB WHERE MB_ID=#{mb_id}
	</delete>
	<insert id="nortowriapplyInsert" parameterType="major">
		INSERT INTO MAJOR
		VALUES(#{mj_id},#{mj_cg_code},#{mj_portf},#{mj_contents},DEFAULT)
	</insert>
	<update id="nortowriapplyupdate" parameterType="member">
		UPDATE MB SET
		MB_GRADE='X' WHERE MB_ID=#{mj_id}
	</update>

	<select id="basketAuctionselect" parameterType="String"
		resultType="basket">
		SELECT * FROM IA
		WHERE B.AB_MBID=#{id}
	</select>

	<select id="basketRevAuctionselect" parameterType="String"
		resultType="basket">
		SELECT * FROM IV WHERE R.RAB_MBID=#{id}
	</select>

	<select id="basketSponsorselect" parameterType="String"
		resultType="basket">
		SELECT * FROM ISP
		WHERE B.SB_MBID=#{id}
	</select>
	<select id="basketFrmSelect"  resultType="basket">
		
      <![CDATA[
   select * from(
    select rownum AS RN,AB_AUNUM,AB_MBID,AUI_IMG,AU_TITLE from IA
       where AB_MBID=#{id} and rownum<=#{num}*5
     ) where rn>=#{num}*5-4;
  ]]>
	</select>
	<select id="getBoardCount" parameterType="String" resultType="basket">
		select count(*) from IA where AB_MBID=#{id}
	</select>
</mapper>