<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.designus.www.dao.IRevAuctionDao">
<!-- 	<insert id="revAuctionSubmitInsert" parameterType="revauction">
		INSERT INTO RA 
		VALUES(RA_SEQ.NEXTVAL,#{ra_mbid},#{ra_title},${ra_cgcode},#{ra_image},#{ra_file},#{ra_oc},DEFAULT,#{ra_contents})
	</insert> -->
	
	<!-- useGeneratedKeys = "true"(자동증가값을 얻을때) -->
	<!-- KeyProperty = "b_num"(필드명) : MySQL은 명시해줘야함. -->
	<insert id="revAuctionSubmitInsert" parameterType="revauction" useGeneratedKeys="true" keyProperty="ra_num">
		<selectKey keyProperty = "ra_num" resultType="int" order="AFTER">
			SELECT RA_SEQ.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO RA 
		VALUES(RA_SEQ.NEXTVAL,#{ra_mbid},#{ra_title},${ra_cgcode},#{ra_image},#{ra_file},#{ra_oc},DEFAULT,#{ra_contents})
	</insert>
	
	<select id="getRevAuctionListSelect" parameterType="revauction" resultType="revauction">
		SELECT * FROM RA WHERE RA_CGCODE = ${ra_cgcode}
	</select>
		
	<select id="revAuctionReadSelect" parameterType="ra_num" resultType="revauction">
		SELECT * FROM RA WHERE RA_NUM=${ra_num}
	</select>

</mapper>