<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.designus.www.dao.IsponsorDao">

	<select id="getSponserwri" parameterType="sponsor"
		resultType="Integer">
		SELECT MAX(SS_NUM) FROM SS
	</select>

	<insert id="getSponserwriterinsert" parameterType="sponsor">
		INSERT INTO SS
		VALUES(SS_SEQ.NEXTVAL,#{ss_mbid_w},#{ss_title},#{ss_price},#{ss_goalqty},#{ss_contents},DEFAULT)
	</insert>

	<insert id="SponsorImageInsert" parameterType="sponsor">
		INSERT INTO SSI
		VALUES(${ss_num},#{ssi_imgSysName})
	</insert>

	<select id="productinfo" parameterType="sponsor"
		resultType="sponsor">
		SELECT * FROM SPONVIEW ORDER BY SS_DATE DESC
	</select>

	<select id="getSponcheck" parameterType="sponsor"
		resultType="sponsor">
		SELECT * FROM SPONVIEW WHERE SS_NUM =${ss_num}
	</select>

	<insert id="sponTenderInsert" parameterType="sponsor">
		INSERT INTO SPONSORTENDER VALUES(${ss_num},#{id})
	</insert>

	<insert id="sponuploadInsert" parameterType="sponsor">
		INSERT INTO SS
		VALUES
		(SS_SEQ.NEXTVAL,#{ss_mbid_w},#{ss_title},${ss_price},${ss_goalqty},#{ss_contents},DEFAULT)
	</insert>

	<insert id="sponuploadfileup" parameterType="HashMap">
		INSERT INTO SSI
		VALUES (#{bnum},#{sysFileName})
	</insert>
</mapper>